{% extends "index.html" %}

{% block title %}
Личный кабинет
{% endblock title %}

{% block content %}
<h1>Все отклики</h1>

<form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
</form>

{% if replies_list %}
    {% for reply in replies_list %}
        <div class="col-md-6 infinite-item">
            <div class="card mb-4 shadow-sm">
                <!--<img class="img-thumbnail"  src="{{post.image.url}}"/> -->
                <div class="card-body">
                    <h5>
                        {% if reply.is_accepted %}
                            &check;
                        {% endif %}
                        {{reply.post.title}}
                    </h5>
                    {{ reply.creation_time }}
                    <p class="card-text">
                        {{reply.content|truncatewords:20}}
                        {% if user.is_authenticated %}
                            {% if not reply.is_accepted %}
                                <a class="nav-link" href="{% url 'accept_reply' reply.pk %}">Принять</a>
                            {% endif %}
                                <a class="nav-link" href="{% url 'delete_reply' reply.pk %}">Удалить</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}

{% else %}
<h2>Откликов нет!</h2>
{% endif %}

{% endblock content %}
