{% extends "default.html" %}

{% block title %}
Личный кабинет
{% endblock title %}

{% block content %}
<h1>Все отклики</h1>

<form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
</form>

{% if replies_list %}
    <table>
        <!-- Выводим заголовки столбцов таблицы -->
        <tr>
            <th>Дата отклика</th>
            <th>Содержание</th>
        </tr>
    {% for n in replies_list %}
        <tr>
            <td>
                {% if n.is_accepted %}
                    &check;
                {% endif %}
                {{ n.creation_time }}
            </td>
            <td>{{ n.content | truncatechars:20 }}</td>
            {% if user.is_authenticated %}
                    <td>
                        {% if not n.is_accepted %}
                            <a class="nav-link" href="{% url 'accept_reply' n.pk %}">Принять</a>
                        {% endif %}
                        <a class="nav-link" href="{% url 'delete_reply' n.pk %}">Удалить</a>
                    </td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
{% else %}
<h2>Откликов нет!</h2>
{% endif %}

{# Информация о предыдущих страницах #}
{% if page_obj.has_previous %}
    <a href="?page=1">1</a>
    {% if page_obj.previous_page_number != 1 %}
        ...
        <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
    {% endif %}
{% endif %}

{# Информация о текущей странице #}
{{ page_obj.number }}

{# Информация о следующих страницах #}
{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
    {% if paginator.num_pages != page_obj.next_page_number %}
        ...
        <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}
{% endif %}
{% endblock content %}
